@import url("style.css");

.poker-card.ace:after, .poker-card.ace:before{
    background-size:
            103%,
            110%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.king:after, .poker-card.king:before{
    background-size:
            90%,
            0,
            110%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.queen:after, .poker-card.queen:before{
    background-size:
            90%,
            0,
            0,
            110%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.jack:after, .poker-card.jack:before{
    background-size:
            90%,
            0,
            0,
            0,
            110%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.ten:after, .poker-card.ten:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            110%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.nine:after, .poker-card.nine:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            110%,
            0,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.eight:after, .poker-card.eight:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            110%,
            0,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.seven:after, .poker-card.seven:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            110%,
            0,
            0,
            0,
            0,
            0;
}
.poker-card.six:after, .poker-card.six:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            110%,
            0,
            0,
            0,
            0;
}
.poker-card.five:after, .poker-card.five:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            110%,
            0,
            0,
            0;
}
.poker-card.four:after, .poker-card.four:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            110%,
            0,
            0;
}
.poker-card.three:after, .poker-card.three:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            110%,
            0;
}
.poker-card.two:after, .poker-card.two:before{
    background-size:
            90%,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            110%;
}
.poker-card.clubs:after, .poker-card.clubs:before {
    filter:brightness(0);
    background-image:
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#clubs'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#ace'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#king'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#queen'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#jack'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#ten'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#nine'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#eight'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#seven'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#six'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#five'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#four'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#three'),
            url('https://cdn.rawgit.com/jedgek/49eacfbeffbb1d69ffd1cbdbda75271f/raw/b79cc961ca287467bab1787fba54502aea02b605/deckofcards.svg#two');
}